@{
    ViewData["Title"] = "Dataintegritet";
}
<h1>@ViewData["Title"]</h1>

<html id="ecwid_html" lang="sv_SE">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, viewport-fit=cover" />
    <meta name="referrer" content="origin" />
    <meta name="generator" content="ec-instant-site" />
    <title>Munamii Cakery</title>    
    <meta name="theme-color" content="#FFFFFF" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="d34ikvsdm2rlij.cloudfront.net/startersite" />
    <link rel="dns-prefetch" href="//don16obqbay2c.cloudfront.net" />
    <link rel="dns-prefetch" href="//fonts.googleapis.com" />
    <link rel="dns-prefetch" href="//maps.googleapis.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin="anonymous" />
    <link rel="preload" href="//fonts.googleapis.com/css?family=Dosis:400,700|Dosis:400,700|Dosis:400,700&display=swap" crossorigin="anonymous" />
    <link rel="preload" href="https://d1oxsl77a1kjht.cloudfront.net/css/new?hc=-728213631&ownerid=16830190&frontendV2=true" as="style">
    <script src="~/js/browser.js"></script>

    <link rel="preload" href="https://d34ikvsdm2rlij.cloudfront.net/startersite/static/2024/2024-17885-g7fc921cb990865/js/store.bundle.js" as="script" />
    <link rel="shortcut icon" href="https://d2j6dbq0eux0bg.cloudfront.net/images/16830190/1498589015.jpg" type="image/jpg">
    <link rel="icon" href="https://d2j6dbq0eux0bg.cloudfront.net/images/16830190/1498589015.jpg" type="image/jpg">
    <link rel="apple-touch-icon" href="https://d2j6dbq0eux0bg.cloudfront.net/images/16830190/1498589015.jpg">
    <script src="~/js/device.js"></script>

    <link rel="stylesheet" type="text/css" href="https://d1oxsl77a1kjht.cloudfront.net/css/new?hc=-728213631&ownerid=16830190&frontendV2=true" />

    <style>
        #static-html .container {
            padding: 5px 0 0;
        }
    </style>
    <script>
        window.ec = window.ec || {};
        window.ec.storefront = window.ec.storefront || {};
        window.ec.storefront.staticPages = window.ec.storefront.staticPages || {};
        window.ec.storefront.staticPages.staticStorefrontEnabled = true;

        ec.storefront.staticPages.staticContainerID = "static-html";
        ec.storefront.staticPages.dynamicContainerID = "main";
    </script>
    <link rel="canonical" href="/sv_SE/" />
    <link rel="stylesheet" href="~/css/styles.css">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Dosis:400,700|Dosis:400,700|Dosis:400,700&display=swap" crossorigin="anonymous" />
</head>
<body id="ecwid_body" class="starter-site disable-ecwid-loader loading">
    <!-- Google Tag Manager -->
    <!-- Not Configured -->
    <!-- End Google Tag Manager -->    
    
    <link rel="stylesheet" href="~/css/styles2.css">
    <p>Vi följer rådande lagstiftning inom dataintegritet och informationssäkerhet.</p>
    <script>
        showStore = true;
    </script>
    <link rel="stylesheet" href="~/css/styles3.css">    

    <div class="tile tile-info"></div>
    <div id="contacts" class="tile tile-contactInfo">
        <div class="contacts process-it" data-block="contacts">
            <div>
                <div class="channels" role="region" aria-label="">
                    <div>
                        <div class="facebook">
                            <div class="logo">
                                <a data-title="Facebook" href="https://facebook.com/munamiicupcakes" target="_blank" rel="noopener noreferrer nofollow">
                                    <span>Facebook</span>
                                </a>
                            </div>
                        </div>
                        <div class="instagram">
                            <div class="logo">
                                <a data-title="Instagram" href="https://instagram.com/munamii.cakery" target="_blank" rel="noopener noreferrer nofollow">
                                    <span>Instagram</span>
                                </a>
                            </div>
                        </div>
                        <div class="whatsapp">
                            <div class="logo">
                                <a data-title="WhatsApp" href="https://api.whatsapp.com/send?phone=5930985750248" target="_blank" rel="noopener noreferrer nofollow">
                                    <span>WhatsApp</span>
                                </a>
                                <span class="title">https://api.whatsapp.com/send?phone=5930985750248</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/service.js"></script>
    <script src="~/js/hero.js" data-cfasync="false"></script>
    <script>
        if (window.performance && window.performance.mark) {
            window.performance.mark('instantSiteStaticHomePageLoaded');
        }
    </script>
    <script src="~/js/storefront.js" data-cfasync="false"></script>
    <script data-cfasync="false" src="https://d34ikvsdm2rlij.cloudfront.net/startersite/static/2024/2024-17885-g7fc921cb990865/js/store.bundle.js" defer></script>
    <script>
        window.ec.storefront.staticPages.switchToDynamicCallback = function () {
            var scrollElement = document.getElementById("featured-products-anchor") || document.getElementById("ecwid_product_browser_scroller") || document.querySelectorAll(".ecwid-productBrowser-TermsAndConditionsPage")[0];
            if (scrollElement) {
                scrollElement.scrollIntoView();
            }
            window.ec.config.navigation_scrolling = null;
        }
            ;
    </script>
    <script src="~/js/connection.js">

    </script>
</body>
</html>
